= form_for @womens_inventory, url: admin_women_shirt_path(@womens_inventory), html: {multipart: true} do |f|
  = f.label :description
  = f.text_field :description
  = f.label :cost
  = f.number_field :cost
  %span.picture
    = f.file_field :image, accept: 'iamge/jpeg, image/gif, image/jpg'
  = f.submit "Save changes", class: "btn btn-primary"
