.inventories
  - @women_inventories.each do |women_inventory|
    = link_to admin_women_shirt_path(women_inventory) do
      .inventory
        %p= image_tag women_inventory.image.url, class: "image"
        %p.description_cost= women_inventory.description
        %p.description_cost= women_inventory.cost
        = link_to "Edit", edit_admin_women_shirt_path(women_inventory), class: "btn btn-default"
        = link_to "Delete", admin_women_shirt_path(women_inventory), method: :delete, |
          data: {confirm: "You sure?"}, class: "btn btn-danger"                       |
  = link_to "Add a new Inventory", new_admin_men_shirt_path, class: "btn btn-primary new"
